.content {
	display: flex;
	gap: 1.25rem;
	min-height: 100%;
}

.container {
	width: 100%;
	margin-inline: auto;
}

@media screen and (min-width: 36rem){
	.container {
		max-width: 33.75rem;
	}
}

@media screen and (min-width: 48rem){
	.container {
		max-width: 45rem;
	}
}

@media screen and (min-width: 62rem){
	.container {
		max-width: 60rem;
	}
}

@media screen and (min-width:75rem){
	.container {
		max-width: 71.25rem;
	}
}

@media screen and (min-width: 87.5rem){
	.container {
		max-width: 83.75rem;
	}
}
